
.bg-purple {
    --bs-bg-opacity: 1;
    --bs-purple-rgb: 102,16,242;
    background-color: rgba(var(--bs-purple-rgb),var(--bs-bg-opacity))!important;
}

.label-sub-title{
        color: #6c757d!important;
        font-size: 1rem;
        font-weight: 500;
    line-height: 1.2;
}

.progress:not(:last-child) {
    margin-bottom: 2em;
}

.float-right{
    float: right;
}




.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

.flex-left:nth-child(1) {
  flex: 1 1 auto;
  align-self: auto;
  margin-right: 1em;
}

.flex-painel:nth-child(2) {
  flex: 3 1 auto;
  align-self: auto;
  margin-left: 0;
}


.flex-right{
  flex: 1 1 auto;
  align-self: auto;
  margin-left: 1em;
}


.mini-img{
    vertical-align: text-bottom;
    width: 20px;
}