.robbery-form-holder{
    border-radius: 0.25rem !important;
    padding-top: 1em;
    width: fit-content;
    max-width: 50em;
}

.robbery-form-holder .card-title{
    padding-bottom: 1em;
}

.robbery-result-holder{
    border-radius: 0.25rem !important;
    padding-top: 1em;
    
    
}

