
.robbery-places-holder .translate-middle {
  transform: translate(-80%,-30%)!important;
}

.flex-painel .card{
  height: 100%;
}

.robbery-places-holder{
  padding-top: 10px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.robbery-places-holder > .card{
  flex-grow: 0;
  margin-right: 14px;
  min-width: 125px;
}

.robbery-places-holder .card-title{
  font-size: 0.9em;
    font-weight: 400;
}


.robbery-place-item:hover,  .robbery-place-item:focus{
cursor: pointer;
background-color: rgb(240, 236, 236);
}


.robbery-place-item .stamina{
  
    font-size: .875em;
    color: #6c757d;
}