<head>
    <link rel="stylesheet" href="/css/robbery-targets.css">
</head>

<div class="card">

    <div class="card-body">
        <h5 class="card-title">Making a Robbery</h5>
        <p class="card-text">Select a target and try your lucky! Each target places has a specific difficult and costs
            some amount of stamina to rober.</p>


        <div class="container">
            <div class="robbery-places-holder">
                <% for(let [index, place] of places.entries() || []){ %>
                    <div class="card position-relative" style="width: 18rem;">
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                            <%=place.chance%>%
                        </span>


                        <img src="<%=place.img%>" class="card-img-top" alt="..." />
                        <div class="card-body ">
                            <h5 class="card-title">
                                <%=place.name%>

                            </h5>
                        </div>
                    </div>
                    <%} %>
            </div>
        </div>
    </div>



</div>