<style>
  table {
    border: 1px solid black;
    margin: 25px 0px;
    font-size: 11pt;
    font-family: sans-serif;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
    padding: 2px 5px;
  }
</style>


<%
var attrs = ['successChance', 
 'playerFactor',
 'successFactor',
 'difficulty', 
 'coinsHolderBonus', 
 'coinsReward', 
 'coinsLoss',
 'respect', 
 'staminaCost', 
 'intelligence', 
 'dexterity',
 'strength',
]

var suffix = [' %', '', '', ' ', ' $' ,' $',' $', ' ']
var preffix = ['', '', '', ' ', '+' ,'=','-', ' ']
%>



<%data.forEach((eachData)=>{%>



<table>
  <tr>
    <td> <%=eachData.player.name%></td>

    <%eachData.places.forEach((place)=>{%>
    <td> <%=place.name%></td>
    <%})%>
  </tr>

  <%attrs.forEach((attr, attrIndex)=>{%>

  <tr>
    <td><%=attr%></td>

    <%eachData.places.forEach((place)=>{%>
    <td> <%=(preffix?.[attrIndex] || '') + place[attr]?.format() + (suffix?.[attrIndex] || '')%></td>
    <%})%>
  </tr>

  <%})%>



</table>




<%})%>