<div class="card">

  <%if (locals?.tabs){%>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <%(locals?.tabs?.array() || [1]).forEach((e, i)=>{ %>
      <li class="nav-item">
        <a class="nav-link <%=i===0? 'active' : ''%>" aria-current="true" href="#">
          <p class="card-text placeholder-glow" style="width:40px">
            <span class="placeholder placeholder-lg col-12"></span>
          </p>
        </a>
      </li>
      <% }); %>
    </ul>
  </div>
  <%}%>

  <div class="card-body">

    <p aria-hidden="true">
      <span class="placeholder placeholder-lg col-7"></span>
    </p>
    
    <%  
    var lines = locals?.lines;
    lines = Array.isArray(lines) ? lines : (lines?.array().map(e=>{return [9,11].sortBetween()}) || []);

    lines.forEach((size)=>{ %>
  <p class="placeholder-glow">
    <span class="placeholder col-<%=size%>"></span>
  </p>

  <% }); %>


  <div class="button-holder">
    <% (locals?.buttons || [2]).forEach((size)=>{ %>
    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-<%=size%>"></a>
    <% }); %>
  </div>
</div>

</div>