<p aria-hidden="true">
  <span class="placeholder placeholder-lg col-7"></span>
</p>

<% 
const items = locals?.lines ? [...Array(locals.lines+1).keys()].slice(1) : [];

items.forEach((e, i)=>{ %>

<p class="placeholder-glow">
  <span class="placeholder col-<%=11-i-[1,-1].randomOne()%>"></span>
</p>

<% }); %>


<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-2"></a>