<div class="card">


  <span class="badge rounded-pill bg-secondary"> </span>

  <div class="card-body">

    <h5 class="placeholder-glow">
      <span class="placeholder placeholder-lg col-12"></span>
    </h5>



    <h5 class="placeholder-glow">
      <span class="placeholder placeholder-lg col-12"></span>
    </h5>

    <p></p>

    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-12"></a>

  </div>

</div>