<% const bonuses = player.getBonuses(['coins', 'successChance', 'staminaCost']);%>

<%if (bonuses && Object.keys(bonuses).length){%>
<h6 class="label-sub-title"> <%=word.BONUSES%></h6>
<ul class="list-group list-group-flush">
  <%if (bonuses['coins']){%>
  <%- include('../../single/section-line', { text: word.COINS_FIND, value: bonuses['coins'].sign().percent() }); %>
  <%}%>

  <%if (bonuses['successChance']){%>
  <%- include('../../single/section-line', { text: word.SUCCESS_CHANCE, value: bonuses['successChance'].sign().percent() }); %>
  <%}%>

<%if (bonuses['staminaCost']){%>
  <%- include('../../single/section-line', { text: word.STAMINA_COST, value: bonuses['staminaCost'].sign().percent() }); %>
  <%}%>
</ul>
  <%}%>