<html>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Crime Pay - Page Not Found</title>
  <%- include('../default/head'); %>
</head>

<body>


  <div class="container">


    <div class="flex-container">

      <div class="flex-painel min-fit middle-absolute">

        <div class="card">
          <div class="card-body" style="padding: 40px 70px;">
            <div class="row">


              <div class="col">
                <img src="/img/police-red.jpg" class="rounded-corners" style="width: 230px">
              </div>

              <div class="col">
                <h4 class="card-title">Page Not Found!</h4>


                <p class="card-text text-secondary">We can't find the page you are looking for.</p>

                <p class="card-text text-secondary">This request url was not found on the server.</p>
                <p class="card-text text-secondary" style="font-size: 10pt;"> <%=url%></p>


                <a href="/robbery" class="btn btn-primary">Visit Home Page</a>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>


  </div>

</body>

</html>