<html lang="en">

<%- include('../default/head', {pageTitle: word.LOGIN, css: ['login'], js:['login']}); %>

<body>
  <div class="container main-content">
    <div class="flex-container">

      <div id="user-login-holder" class="card-flat">
        <%- include('../partials/login-form'); %>
      </div>
    </div>
  </div>

</body>

</html>