<html lang="en">

<%- include('../default/head', {pageTitle: word.LOGIN, css: ['login'], js:['login']}); %>

<body>
  <div class="container main-content">
    <div class="flex-container">

      <div class="login-form-placeholder">
        <%- include('../placeholders/login-form'); %>
      </div>

      <div class="login-form-holder"></div>


    </div>
  </div>

</body>

</html>