<html>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Crime Pay - Settings</title>
  <%- include('../default/head'); %>

  <script src="/js/settings.js"></script>

</head>

<body>
  <div class="container">

    <div class="flex-container">

      <div class="flex-painel" style="width: 100%">

        <div class="card">
          <%- include('../partials/menu', {nav_settings:true}); %>

          <div class="card-body">

            <h5 class="card-title">Settings</h5>

            <div class="col-md-2">
              <label class="form-label">Reset Player Stats (Testing Porpouses)</label>

              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" id="reset-player-dropdown" aria-expanded="false">
                  <span class="spinner-border spinner-border-sm no-display" role="status" aria-hidden="true"></span>
                  <span class="no-display">Loading...</span>
                  <span class="button-text">Reset Player</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="reset-player-dropdown">
                  <li><button class="dropdown-item reset" type="button" data-multiplier="1">Initial
                      State</button>
                  </li>
                  <li><button class="dropdown-item prisoner" type="button">Prisoner</button>
                  </li>
                  <li><button class="dropdown-item reset" type="button" data-multiplier="10">10x
                      Player</button>
                  </li>

                  <li><button class="dropdown-item reset" type="button" data-multiplier="100">100x
                      Player</button>
                  </li>

                  <li><button class="dropdown-item reset" type="button" data-multiplier="1000">1000x Player</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>