


body{    
    background-image: url("/img/city-bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #b8c8e0;
}


.container{
    margin-top: 5em;
    min-width: 70%;
}

  
.bg-purple {
    --bs-bg-opacity: 1;
    --bs-purple-rgb: 102,16,242;
    background-color: rgba(var(--bs-purple-rgb),var(--bs-bg-opacity))!important;
}

.label-sub-title{
    color: #6c757d!important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.progress:not(:last-child) {
    margin-bottom: 2em;
}

.float-right{
    float: right;
}
.placeholder.btn{
    height: 35px;
}

.no-display{
    display: none;
}

.flex-painel.content{
    width: 100%;
    min-width: 80em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex-left {
  display: flex;
  flex-direction: column; 
  flex: 1;
  flex-basis: 100%;
  margin-right: 1em;
}

.flex-painel{
  display: flex;
  flex-direction: column;
  flex: 3;
  flex-basis: 100%;
  
}

.flex-right{
  display: flex;
  flex-direction: column;
  flex: 1  ;
  flex-basis: 100%;
  margin-left: 1em;
}



.card-body.max{
    min-width: max-content;
    min-height: 50em;
}

.medium-img{
    vertical-align: text-bottom;
    width: 100px;
}

.big-img{
    vertical-align: text-bottom;
    width: 170px;
}

.mini-img{
    vertical-align: text-bottom;
    width: 20px;
}

.player-head{
    min-height: 290px;
}


.nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 500;
}

.nav-link {
    color: gray;    
}


.nav-tabs{
    background-color: #f8f8f8;
}
