

.bg-purple {
    --bs-bg-opacity: 1;
    --bs-purple-rgb: 102,16,242;
    background-color: rgba(var(--bs-purple-rgb),var(--bs-bg-opacity))!important;
}

.label-sub-title{
    color: #6c757d!important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.progress:not(:last-child) {
    margin-bottom: 2em;
}

.float-right{
    float: right;
}
.placeholder.btn{
    height: 35px;
}

.no-display{
    display: none;
}

.container{
    margin-top: 5em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex-left {
  flex: 1  auto;
  flex-basis: 100%;
  margin-right: 1em;
}

.flex-painel{
  display: flex;
  flex-direction: column;
  flex: 3  ;
  flex-basis: 100%;
}

.flex-right{
  display: flex;
  flex-direction: column;
  flex: 1  ;
  flex-basis: 100%;
  margin-left: 1em;
}



.card-body .max{
    min-width: max-content;
}

.medium-img{
    vertical-align: text-bottom;
    width: 100px;
}

.mini-img{
    vertical-align: text-bottom;
    width: 20px;
}

.card-img-top.ph{
    background-color: #9da0a3;
    min-width: 125px;
    min-height: 125px;
}