.inventory-form-holder .card, .inventory-form-placeholder {
    width: 100%;
    min-width: 20em;
    min-height: 13em;
}

.card-body .flex-container .flex-panel {
    flex: .6;
}

.card-body .flex-container .flex-right {
    flex: .4;
}

.inventory-form-holder {
    display: none;
}

.card-carousel-scroll-area {
    margin-top: 18px;
}

.button-holder {
    margin-top: 22px;
}

.card-sub-title .float-right, .card-name .float-right, {
    font-weight: 600;
}

#empty-holder {
    margin-top: 22px;
    max-width: 28em;
    display: none;
}

.btn-toolbar{
    position: absolute;
    bottom: 0;
}