.inventory-form-holder .card, .inventory-form-placeholder {
    width: 100%;
    min-width: 20em;
    min-height: 13em;
}

.card-body .flex-container .flex-painel {
    flex: .6;
}

.card-body .flex-container .flex-right {
    flex: .4;
}

.inventory-form-holder {
    display: none;
}

.card-carousel-scroll-area {
    margin-top: 18px;
}