
body{    
  background-image: url("/img/city-bg.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #b8c8e0;
}

.robbery-places-holder .translate-middle {
  transform: translate(-80%,-30%)!important;
}

.flex-painel .card{
  height: 100%;
}

.robbery-places-scroll-attributes{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 25px;
  overflow-x: auto;
  overflow-y: hidden;
}

.robbery-places-holder{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.robbery-places-holder > .card{
  flex-grow: 0;
  margin-right: 14px;
  min-width: 125px;
}

.robbery-places-holder .card-title{
  font-size: 0.9em;
  font-weight: 400;
}


.robbery-place-item:hover,  .robbery-place-item:focus{
cursor: pointer;
background-color: rgb(240, 236, 236);
}


.robbery-place-item .stamina{
    font-size: .875em;
    color: #6c757d;
}

.robbery-form-holder{
  border-radius: 0.25rem !important;
  padding-top: 1em;
  width: fit-content;
  max-width: 50em;
}

.robbery-form-holder .card-title{
  padding-bottom: 1em;
}

.robbery-result-holder{
  border-radius: 0.25rem !important;
  padding-top: 1em;
  
  
}