.robbery-form-holder, .robbery-form-placeholder {
  width: 40em;
  height: 100%;
}

.robbery-result-holder {
  max-width: 40em;
  min-width: 30em;
  width: fit-content;
  height: 100%;
}


#result-list, #result-prison {
  display: none;
}

#result-prison {
  margin-top: 15px;
}



.robbery-result-holder blockquote {
  margin-top: -5px;
  margin-left: 12px;
  width: 140px;
}


.robbery-result-holder>.row {
  align-items: center;
  height: 100%;
}