<div id="empty-holder" class="card-flat">
  <div class="row">
    <div class="col-7">
      <h6 class="card-title"><%=text.INVENTORY.EMPTY_TITLE%></h6>
      <p class="card-text"><%=text.INVENTORY.EMPTY_DESCRIPTION%></p>
      <a href="/market" class="btn btn-primary"><%=word.MARKET%></a>
    </div>
    <div class="col img-holder">
      <img src=" /img/shop.png" class="card-img-top medium-img">
    </div>
  </div>
</div>