<div id="inventory-equip" class="row align-items-center">
  <h6 class="card-title">
    <%=text.INVENTORY.WANNA_SELL.format(weapon.name)%>
  </h6>

  <%- include('../single/input-item', { text: word.PRICE,  icon: 'coin', inputType : 'number', placeholder : 'Price'}); %>


  <%- include('../single/buttons/button-group', {id: 'sell', 
                                   text: word.SELL, 
                                   arrested: player.arrested, 
                                   loadingButton: true,
                                   }); %>
</div>