<ul class="nav nav-tabs">

  <%
  let menuItems = [word.ROBBERY, word.PRISON, word.CLUB, word.MARKET, word.INVENTORY, word.HOSPITAL, word.HISTORIC, word.SETTINGS ];

  
  if (locals?.player?.isLifeImprisoned()) menuItems = [word.PRISON , word.INVENTORY, word.HISTORIC, word.SETTINGS];
%>

  <%menuItems.forEach((each)=>{ %>

  <li class="nav-item">
    <a class="nav-link <%=locals['nav_'.join(each.toName())] ? 'active' : ''%>" aria-current="page" href="/<%=each.toName()%>" onclick="return location.href != this.href">
      <%=each%>
    </a>
  </li>

  <%})%>


</ul>