<ul class="nav nav-tabs">

  <%
  let menuItems = ['Robbery', 'Prison' , 'Club' , 'Market' , 'Settings' ];

  
  if (locals?.player?.lifeImprisonment) menuItems = ['Prison' , 'Settings'];
%>

  <%menuItems.forEach((each)=>{ %>

  <li class="nav-item">
    <a class="nav-link <%=locals['nav_'+ each.toLowerCase()] ? 'active' : ''%>" aria-current="page" href="/<%=each.toLowerCase()%>" onclick="return location.href != this.href">
      <%=each%>
    </a>
  </li>

  <%})%>


</ul>