<div class="card-flat" style="display:<%=player.arrested? 'none' : 'flex' %>">
  <div id="free-holder" class="row">
    <div class="col-7">
      <h6 class="card-title">
        You are a free man!
      </h6>
      <p class="card-text">What are you waiting for? Get out of
        here!
      </p>
      <a href="/robbery" class="btn btn-primary">Robberies</a>
      <a href="/club" class="btn btn-primary">Night Club</a>
    </div>
    <div class="col img-holder">
      <img src=" /img/police-head.png" class="card-img-top medium-img" alt="police">


    </div>
  </div>
</div>