<div class="card-flat" style="display:flex' %>">
  <div id="free-holder" class="row">
    <div class="col-7">
      <h6 class="card-title"><%=phrase.FOR_LIFE_PRISON%></h6>
      <p class="card-text"><%=text.PRISON.GAME_OVER%></p>
      <a href="#" class="btn btn-primary"><%=word.HOME_PAGE%></a>
      <a href="/settings" class="btn btn-primary"><%=word.SETTINGS%></a>
    </div>
    <div class="col img-holder">
      <img src=" /img/hands-cuffed.png" class="card-img-top big-img" alt="hands cuffed">
    </div>
  </div>
</div>