<div class="card-flat">
  <div id="bribe-holder" class="row">
    <div class="col-5">
      <h6 class="card-title">
        What are you looking for?
      </h6>
      <p class="card-text">I can make it easy
        for you. Give me some coins.
      </p>

      <img src=" /img/police.png" class="card-img-top medium-img" alt="police">

    </div>
    <div class="col">

      <%if (Math.abs(bribe.data.coins) > 0){%>
      <div class="input-group">
        <span class="form-control">Coins Cost</span>
        <span class="input-group-text"><img class="mini-img" src="/img/coin.png" alt="Coin"></span>
        <span id="bribe-coins" class="input-group-text">
          <%=bribe.data.coins.format()%>
        </span>
      </div>
      <%}%>


      <%if (bribe.data.respect> 0){%>
      <div class="input-group">
        <span class="form-control">Respect Reward</span>
        <span class="input-group-text"><img class="mini-img" src="/img/respect-star.png"></span>
        <span id="bribe-respect" class="input-group-text">
          + <%=bribe.data.respect.format()%>
        </span>
      </div>
      <%}%>

                    <%if (Math.abs(bribe.data.stamina)> 0){%>
      <div class="input-group">
        <span class="form-control">Stamina Cost</span>
        <span class="input-group-text"><img class="mini-img" src="/img/stamina.png" alt="Coin"></span>
        <span id="bribe-stamina" class="input-group-text">
          <%=Math.abs(bribe.data.stamina)%> %
        </span>
      </div>
      <%}%>



      <%- include('../single/button', { buttonId: 'bribe', buttonText: 'Bribe',  quoteText: bribe.escapeChance + "% chance to get out.", loadingButton:true, insufficientCoins: player.coins < Math.abs(bribe.data.coins),noStamina: player.stamina < Math.abs(bribe.data.stamina), forLifePrison: (player.arrested && !player.arrestRelease)  }); %>


    </div>
  </div>
</div>