<div id="result-police" class="row">
    <div class="col text-end">
        <h6 class="card-title">
            I'm watching you!
        </h6>
        <p class="card-text">Behave yourself and I'll leave you alone.</p>

        <a href="/prison" class="btn btn-primary">Prison</a>
    </div>
    <div class="col">
        <img src="/img/police.png" class="card-img-top medium-img" alt="police">
    </div>
</div>


<div id="result-info" class="row align-items-center">
    <div class="col">

        <h6 class="card-title" id="result-title">
            Last Robbery Result
        </h6>

        <p class="card-text" id="result-message">
            Success
        </p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span id="result-coins">0</span> Coins
            </li>

            <li class="list-group-item">
                <span id="result-respect">0</span> Respect
            </li>

            <li class="list-group-item">
                <span id="result-intelligence">0</span> Intelligence
            </li>
            <li class="list-group-item">
                <span id="result-dexterity">0</span> Dexterity
            </li>
            <li class="list-group-item">
                <span id="result-strength">0</span> Strength
            </li>


        </ul>
    </div>
    <div class="col" style="width: min-content;">
        <img id="result-img" class="card-img-top big-img" alt="...">

        <div style="display: -webkit-inline-box;">
            <a href="#" class="btn btn-primary">Prison</a>

            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer" id="result-arrest-release"></footer>
            </blockquote>
        </div>
    </div>
</div>