<html>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Robbery</title>
    <%- include('../default/head'); %>
</head>



<main>
    <div class="flex-container">

        <div class="flex-left">
            <%- include('../partials/thief-status'); %>
        </div>

        <div class="flex-painel">
            <%- include('../partials/robbery-target'); %>
        </div>
    </div>

</main>


</html>